.mtg_deck_title {
  text-decoration: underline;
}

table.mtg_deck {
  max-width: 510px;
  margin: 10px;
  text-align: left;
}

table.mtg_deck td {
  vertical-align: top;
  padding: 5px 2px;
  vertical-align: top;
}

table.mtg_deck td.card_box img {
  max-height: 310px !important;
  max-width: 310px !important;
}

