.mtg_deck_title {
  text-decoration: underline;
}

table.mtg_deck {
  width: 100%;
  max-width: 510px;
  margin: 10px;
  text-align: left;
}

table.mtg_deck td {
  vertical-align: top;
  padding: 5px 2px;
  vertical-align: top;
}

table.mtg_deck td.card_box img {
  max-height: 310px !important;
  max-width: 310px !important;
  border-radius: 4.75% / 3.5%;
}

a.deckbox_link:has(img) {
  display: block;
  width: fit-content;
  margin: 10px auto;
}

a.deckbox_link img {
  display: block;
  max-height: 310px !important;
  max-width: 310px !important;
  border-radius: 4.75% / 3.5%;
}
